@using CRUDelicious.Models;
@model Dish;

<a class="btn btn-info" asp-action="SingleView" asp-route-id=@Model.DishId>Cancel</a>

<form asp-action="Update" asp-route-id=@Model.DishId method = "post">
    <div class="form-group">
        <span asp-validation-for="Name" class="text-danger"></span><br>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="Chef" class="text-danger"></span><br>
        <label asp-for="Chef">Chef:</label>
        <input asp-for="Chef" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="Tastiness" class="text-danger"></span><br>
        <label asp-for="Tastiness">Tastiness:</label>
        <select asp-for="Tastiness" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <span asp-validation-for="Calories" class="text-danger"></span><br>
        <label asp-for="Calories">Calories:</label>
        <input asp-for="Calories" class="form-control">
    </div>
    <div class="form-group">
        <span asp-validation-for="Description" class="text-danger"></span><br>
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Edit @Model.Name</button>
</form>